 /* Style du bouton dans le menu burger */
  .theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;
    font-size: 20px;
    padding: 10px;
  }
  
  .theme-toggle:hover {
    color: $warning-color; 
  }
    
  // HEADER
  .dark .header {
      background-color: $dark-primary-color;
      color: $light-color;
  }
  //BURGER
  .dark nav{
    background-color: $dark-primary-color;
  }
  .dark nav button, .dark nav a{
    background-color: $dark-primary-color;
    color:$light-color

  }

  //MAIN
  .dark main,.dark article, .dark footer  {
      background-color: $dark-primary-color;
      color: $light-color;
  }
  
  //ARTICLE
   .dark main {
      background-color: $dark-secondary-color;
      
  }

  .dark h1, .dark p {
    color:#fff
  }
  

  

  