.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: $primary-color; 
  box-shadow: $box-shadow;
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; 
}

.logo {
  font-weight: bold;
  width: 40px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.mobile-cart {
  display: flex;
  align-items: center;
  gap: 5px; 
  text-decoration: none;
  color: $secondary-color; 
}

.mobile-cart:hover {
  color: $hover-color;
}

.burger-menu {
  cursor: pointer;
  color: $secondary-color;
}

.burger-menu:hover {
  color: $hover-color;
}

.nav-links {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: -100%; 
  width: 90px; 
  height: 100vh;
  background-color: $primary-color;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.5);
  padding-top: 60px;
  z-index: 999;
  text-align: center;
}

.nav-links.active {
  right: 0;
  padding-top: 0;
}

.nav-links a, .nav-links button {
  padding: 15px 20px;
  text-decoration: none;
  color: $secondary-color;
  background-color: $primary-color;
  border: none;
  cursor: pointer;
  text-align: center;
  display: block;
}

.nav-links:hover {
  color: $hover-color;
}

.desktop-nav {
  display: none;
}

@media (min-width: 768px) {
  .burger-menu {
    display: none;
  }

  .nav-links {
    display: none;
  }

  .desktop-nav {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .desktop-nav a, .desktop-nav button {
    text-decoration: none;
    color: $secondary-color;
    background-color: $primary-color;
    border: none;
    cursor: pointer;
    text-align: center;
    display: block;
    font-size: $font-size;
  }

  .desktop-nav a:hover, .desktop-nav button:hover {
    color: $hover-color;
  }

  .mobile-cart {
    display: none;
  }

  .desktop-cart {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: auto; 
  }
}

.footer {
  background-color: $primary-color;
  color: $light-color;
  padding: $spacing-xl 0;
  text-align: center; /* Centrer le contenu sur mobile */
}

.footer-content {
  display: flex;
  flex-direction: column; /* Empiler les sections sur mobile */
  gap: $spacing-lg; /* Espacement entre les sections */
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $container-padding;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin-bottom: $spacing-lg;
  text-align: center;
}

.footer-section h3 {
  font-size: 1.8rem;
  margin-bottom: $spacing-md;
  color: $secondary-color;
}

.footer-section p,
.footer-section ul {
  font-size: $font-size;
  color: $light-color;
  line-height: $line-height;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: $spacing-xs;
}

.footer-section ul li a {
  color: $light-color;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: $hover-color;
}

.footer-copyright {
  text-align: center;
  padding: $spacing-md 0;
  border-top: 1px solid $gray-color;
  margin-top: $spacing-lg;
  font-size: $font-size;
  color: $light-color;
}

.social-icons {
  display: flex;
  justify-content: center; 
  gap: 15px; 
}

.social-icons a:hover {
  color:$hover-color;
}

/* Styles pour tablette */
@media (min-width: 768px) {
  .footer-content {
      flex-direction: row; 
      justify-content: space-around; 
      text-align: left; 
  }

  .footer-section {
      margin-bottom: 0; 
  }
}

/* Styles pour desktop */
@media (min-width: 1024px) {
  .footer-content {
      max-width: 1200px; 
  }

  .footer-section {
      max-width: 300px; 
  }
}